body {
    background-color: #000;
    margin: auto;
    /* max-height: auto; */
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container {
    max-width: 390px;
    margin: auto;
    position: absolute;
    /* display: flex; */
    flex-wrap: wrap;
    
    bottom: 1%;
    width: 100%;
}
.result {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    font-size: 120px;
    flex-direction: row-reverse;
    margin-right: 12px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    /* padding-right: 30px; */
    /* margin-left: 30px; */
}
.item {
    background-color: #252525;
    min-width: 90px;
    height: 90px;
    border-radius: 50px;
    border: none;
    font-size: 40px;
}
.clear,
.negative,
.percent {
    background-color: gray;
}
.division,
.multiplication,
.minus,
.plus,
.equals {
    background-color: orange;
    color: #fff;
}
.zero {
    width: 190px;
    padding-right: 105px    ;
}
.numbers,
.comma {
    color: #fff;
}
.fz90{
    font-size: 75px !important;
}
*{
    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;
}

.disabled{
    /* // DIVISION.style.background = 'white' */
    /* DIVISION.style.color = 'orange' */
    background: white !important;
    color: orange !important;
}
.enabled{
    background: orange !important;
    color: white !important;
}
.animEqual{
    background: #fdd29d;
    transition: all 0.1s ease .0s;
}
.animNum{
    background: white;
    transition: all 0.1s ease .0s;
}

.progress{
    /* display: none; */
    color: white;
    font-size: 3em;
    position: absolute;
    left: 430px;
    top: 0;
    width: 100%;
}
#showInfo{
    /* display: none; */
    background: orange;
    color: white;
    border-radius: 10px;
    position: absolute;
    top: 140px;
    left: 420px;
    font-size: 20px;
    height: 400px;
    width: 200px;
}
#showInfo:active{
    transform: translateY(0.5px);
    opacity: 0.9;
}